@model ProductCatalogMVC.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">
        <meta name="viewport" content="width=device-width" />
        <title>Delete</title>
    </head>
    <body style="margin: 5px">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal" style="margin-left: 20px">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PricePerUnit)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PricePerUnit)$
                </dd>
            </dl>
    
            <form asp-action="Delete">
                @Html.ActionLink("Delete it, I am sure", "DeleteConfirmed", new { id = Model.ProductID }, new { @class = "btn btn-secondary", role = "button" }) 
                <br />
                @Html.ActionLink("Nah.. Keep it and return to StartPage", "Index", new { @class = "btn btn-secondary", role = "button" })
            </form>
        </div>
    </body>
</html>
