@model IEnumerable<ProductCatalogMVC.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">
        <meta name="viewport" content="width=device-width" />
        <title>ProductSearch</title>
    </head>
    <body style="margin: 5px">
        <h3>Your search returned:</h3>
        <hr />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PricePerUnit)
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PricePerUnit)$
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new {  id=item.ProductID  }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>
